.Avatar {
	display: inline-block;
	background-size: cover;
	position: relative;
	text-align: center;
	vertical-align: top;
	border-radius: 50px;
	background-color: #9CCD21;
	color: white;
	margin-right: 5px;
	font-size: 1em;
	height: 2em;
    width: 2em;
    line-height: 2em;

    &.large {
    	height: 2.2em;
    	width: 2.2em;
    	font-size: 1.5em;
    	line-height: 2.2em;
    }

    .upper-right-count {
    	position: absolute;
    	top: -3px;
    	right: -3px;
    	border-radius: 18px;
    	width: 18px;
    	height: 18px;
    	background: #C8584B;
    	color: white;
    	font-size: 8px;
    	line-height: 18px;
    }
}
