.feedback {
	position:absolute;
	z-index:99999;
	width:70%;
	left:15%;
	top:5px;
	color:#fff;
	.feedback-warning {
		padding:20px 15px;
		border:1px solid #fff;
		background: #d7ca42;
	}
	.feedback-success {
		padding:20px 15px;
		border:1px solid #fff;
		background:#9ccd21;
	}
	.feedback-error {
		padding:20px 15px;
		border:1px solid #fff;
		background:red;
	}
	.feedback-close {
		position: absolute;
		right: 5px;
		top: 5px;
		border: 1px solid #fff;
		padding: 0px 5px;
		font-weight: bold;
		cursor:pointer;
	}

}