.search-bar {
	margin: 10px;
	border: 1px solid #CCC;
	border-radius: 2px;
	display: inline-block;
	height: 40px;
	background: white;
	width: calc(100% - 20px);

	input {
		width: calc(100% - 43px);
		border: none;
		margin: 8px;

		&:focus, &:active {
			outline: 0;
		}
	}

	.glyphicon {
		color: #CCC;
		margin-top: 10px;
		margin-right: 8px;
		margin-left: 5px;
		cursor: pointer;
	}
}
