#settings {
	.modal-container {
		.modal {
			.web-settings {
				input,
				select {
					width: 260px;
				}

				input[type="radio"], input[type="checkbox"] {
					border: none;
					display: inline-block;
					vertical-align: middle;
					border-radius: inherit;
					margin: 0;
					padding: 0;
					height: auto;
					width: auto;
				}
			}
		}
	}
}
