.external-page-wrap {
  top: 50px;
  bottom: 50px;
  position: relative;
  margin-bottom: 50px;

  .external-page {
	width: 480px;
	margin-left: auto;
	margin-right: auto;
	padding: 60px 40px 60px 40px;
	box-shadow: 2px 2px 24px -7px rgba(0,0,0,0.75);
	border: 1px solid #CCC;
	position: relative;

    @media (max-width: 767px) {
      width: 95%;
      padding: 60px 10px 60px 10px;
    }

	.logo {
	  display: block;
	  width: 136.5px;
	  height: 177.45px;
	  margin-left: auto;
	  margin-right: auto;
	  background: url('../images/logo.png');
	  background-size: cover;
	  margin-bottom: 40px;
	}
  }
}

