@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-BoldItalic;
    src: url(../fonts/OpenSans-BoldItalic.ttf);
}
@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: OpenSans-Italic;
    src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
    font-family: OpenSans_Light;
    src: url(../fonts/OpenSans_Light.ttf);
}
@font-face {
    font-family: OpenSans-LightItalic;
    src: url(../fonts/OpenSans-LightItalic.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans_Semibold;
    src: url(../fonts/OpenSans_Semibold.ttf);
}
@font-face {
    font-family: OpenSans-SemiboldItalic;
    src: url(../fonts/OpenSans-SemiboldItalic.ttf);
}
@font-face {
    font-family: Typedepot-Centrale;
    src: url('../fonts/Typedepot - Centrale Sans Patterns.otf');
}
@font-face {
    font-family: Typedepot_Centralebld;
	src: url('../fonts/CentraleSansRndBold.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/CentraleSansRndBold.otf')  format('opentype'),
        url('../fonts/CentraleSansRndBold.woff') format('woff'), 
        url('../fonts/CentraleSansRndBold.ttf') format('truetype'), 
        url('../fonts/CentraleSansRndBold.svg#CentraleSansRndBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: Typedepot_Centralesans;
    src: url('../fonts/CentraleSansRndMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CentraleSansRndMedium.otf')  format('opentype'),
        url('../fonts/CentraleSansRndMedium.woff') format('woff'), 
        url('../fonts/CentraleSansRndMedium.ttf')  format('truetype'), 
        url('../fonts/CentraleSansRndMedium.svg#CentraleSansRndMedium') format('svg');
    font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: Typedepot_Centralesanslight;
	src: url('../fonts/CentraleSansRndLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CentraleSansRndLight.otf')  format('opentype'),
        url('../fonts/CentraleSansRndLight.woff') format('woff'),
        url('../fonts/CentraleSansRndLight.ttf')  format('truetype'),
        url('../fonts/CentraleSansRndLight.svg#CentraleSansRndLight') format('svg');
    font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: Typedepot_Centralesansbook;
    src: url('../fonts/Typedepot_CentraleSansRndBook.otf');
}